@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: lighter;
}
* {
  font-family: "Roboto", Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: auto;
}

body {
  height: 100vh;
  padding: 0 !important;
}
:root {
  --laranja_senac: #f7941d;
  --laranja_claro_senac: #fdc180;
  --laranja_escuro_senac: #ea6230;
  --azul_senac: #004a8d;
  --azul_medio_senac: #4c7cab;
  --azul_claro_senac: #a5bdd5;
  --cinza: #f9f9f9;
}

.img-home-page {
  object-fit: cover;

  height: 7.25rem;
  width: 100%;
}

.img-curso {
  object-fit: cover;

  height: 6.25rem;
  width: 6.25rem;
}

.img-210 {
  object-fit: cover;
  height: 13.125rem;
  width: 13.125rem;
}
.img-130 {
  object-fit: cover;
  height: 8.125rem;
  width: 8.125rem;
}

.img-logo-senac {
  height: 5rem;
}

.img-perfil-grande {
  object-fit: cover;
  height: 11rem;
  width: 11rem;
}
.img-perfil-mini {
  object-fit: cover;
  height: 2.8rem;
  width: 2.8rem;
}
.img-index {
  height: calc(13rem + 5vw);
}

.card-index {
  width: 20rem;
}

.card-imagem img {
  height: 200px;
  object-fit: cover;
}

.card-post {
  width: 25rem;
}

.w-23rem {
  width: 23rem;
}

.blur {
  filter: blur(2px);
}

.grayscale {
  filter: grayscale(1);
}

.txt-shadow-red {
  text-shadow: 0 1px 1px red;
}

.fs-7 {
  font-size: 0.75rem;
}

/*cores*/
.laranja-senac {
  color: var(--laranja_senac);
}

.laranja-claro-senac {
  color: var(--laranja_claro_senac);
}
.laranja-escuro-senac {
  color: var(--laranja_escuro_senac);
}

.azul-senac {
  color: var(--azul_senac);
}

.azul-medio-senac {
  color: var(--azul_medio_senac);
}

.azul-claro-senac {
  color: var(--azul_claro_senac);
}

.bg-laranja-senac {
  background-color: var(--laranja_senac);
}

.bg-laranja-claro-senac {
  background-color: var(--laranja_claro_senac);
}

.bg-laranja-escuro-senac {
  background-color: var(--laranja_escuro_senac);
}

.bg-azul-senac {
  background-color: var(--azul_senac);
}

.bg-azul-medio-senac {
  background-color: var(--azul_medio_senac);
}

.bg-azul-claro-senac {
  background-color: var(--azul_claro_senac);
}

.bg-cinza {
  background-color: var(--cinza);
}

.btn-cinza {
  background-color: var(--cinza);
}

.btn-cinza:hover {
  background-color: var(--cinza);
}

.btn-azul-senac {
  background-color: var(--azul_senac);
}

.btn-azul-senac:hover {
  background-color: var(--azul_senac);
}

.bg-gd-laranja-claro-senac {
  background-image: linear-gradient(white 70%, var(--laranja_claro_senac) 100%);
}

.bg-gd-azul-claro-senac {
  background-image: linear-gradient(white 70%, var(--azul_claro_senac) 100%);
}

.btn-plus {
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
}
/* .btn-edit-profile {
    background-color: #fff;
    color: #007bff;
    border-color: #007bff;
}
.btn-edit-profile:hover {
    background-color: #f8f9fa; 
    border-color: #0056b3; 
    color: #0056b3; 
} */

.left-90 {
  left: 90%;
}

@media (max-width: 450px) {
  .left-90 {
    left: 85%;
  }
}

.w-30rem {
  width: 30rem;
}

.h-1rem {
  max-height: 1rem;
}
.ponto {
  min-height: 1rem;
  min-width: 1rem;
  max-height: 1rem;
  max-width: 1rem;
}
.header-senac {
  background-color: var(--cinza);
}

.header-senac-text {
  color:#000;
}

.apagar {
  background-color: #004a8d;
}

@media (max-width: 991px) {
  .header-senac {
    background-color: white;
  }

  .header-senac-text {
    color: var(--azul_medio_senac);
  }

  .border-hearder{
    border-bottom: #f7941d;
    height: 3px;
  }

  .img-index {
    height: calc(10rem + 10vw);
  }

  /* .card-post{
    width: 100%;
  } */
}

.footer-senac {
  background-color: var(--laranja_senac);
}

/* @media (max-width: 991px) {
  .footer-senac {
    background-color: white;
  } */

.footer-scuro-senac {
  background-color: var(--laranja_escuro_senac);
}

/* @media (max-width: 991px) {
  .footer-scuro-senac {
    background-color: white;
  } */

.header-vi {
  visibility: visible;
}

@media (min-width: 991px) {
  .header-vi {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

.header-vii {
  visibility: visible;
}

@media (max-width: 991px) {
  .header-vii {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .profileP img {
    width: 50%;
    height: 50%;
    top: -50px;
    left: 0%;
    position: absolute;
    transform: translate(50%, 0%);
  }

  .profilePP {
    width: 50%;
    height: 50%;
    position: absolute;
    transform: translate(50%, 0%);
  }

  .txtPerfil {
    margin-top: 70px;
  }

  .nav-cor {
    background-image: linear-gradient(white, var(--azul_claro_senac));
  }
}

@media (max-width: 526px) {
  .profileP img {
    top: -50px;
    left: calc(50% - 150px);
    position: absolute;
    transform: translate(50%, 0%);
  }
}
.star {
  font-size: 35px;
  color: #808080;
  cursor: pointer;
}

.star.selected {
  color: #ffd700;
}

.cardPerfil {
  width: 30rem;
}

.profile-background {
  width: 100%;
  height: 100%; /* Ajuste a altura conforme necessário */
  background-image: url("../bannerP"); /* Substitua pelo caminho real */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
}

.img-perfil-mini {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.imgPerfil {
  width: 15rem;
  height: 1rem;
  border-radius: 100%;
}

.imgPerfill {
  width: 10rem;
  height: 8rem;
  border-radius: 50%;
  margin-top: 5rem;
}

.color-button,
.redondo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.color-button:hover,
.redondo:hover {
  transform: scale(1.1);
}

.col,
textarea {
  resize: none;
}

.image-container {
  width: 100px;
  height: 100px;
}
.card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cor-back {
  width: 25px;
  height: 50px;
  border-radius: 0.5rem;
  border: solid #fff;
}

.cor-back2 {
  width: 75px;
  height: 50px;
  border-radius: 1rem;
  background-color: gray;
  border: solid #fff;
}

.indisponivel {
  background-color: #e9ecef !important; /* Fundo cinza claro */
  border: 1px solid #ced4da; /* Borda cinza */
  opacity: 0.7; /* Transparência */
}

.indisponivel a {
  text-decoration: none;
  color: #6c757d !important; /* Texto cinza */
}

.cavera {
  font-size: 16px;
}

@media (max-width: 576px) {
  .cavera {
    font-size: 12px;
  }
}

.headerPerfil {
  width: 100%;
  height: 150px;
}

.paralax1 {
  background-image: url("../img/salão1.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 600px;
}

.matte {
  background-color: rgba(0, 0, 0, 0.2);
}

.matte2 {
  background-color: rgba(0, 0, 0, 0.6);
}
.paralax2 {
  background-image: url("../img/salão1.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 350px;
}

.linha-vermelha {
  width: 100%;
  height: 3px; /* Espessura da linha */
  background-color: #ff7b00; /* Cor vermelha */
}
.slide-blog {
  width: 100%;
  height: 300px;
  background-size: contain;
}

/* carrosel index.html */
.products {
  height: 500px;
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 12px;
  margin: auto;

  /* Se estiver utilizando pré-processador (ex: Sass), o aninhamento pode ser mantido.
     Caso contrário, mova o código de .product para fora */
}

.product {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s all ease-in-out;
  color: white;
}

.product p,
.product small {
  margin-top: 15px;
  opacity: 0;
}

/* Imagens de fundo para cada .product */
.product:nth-child(1) {
  background-image: url(https://cdn.manualdohomem.com.br/?w=1233&h=772&key=aHR0cHM6Ly9tYW51YWxkb2hvbWVtbW9kZXJuby5jb20uYnI=&u=%2Ffiles%2F2020%2F09%2Fcortes-de-cabelos-masculinos-para-2021-cortes-de-cabelos-masculinos-para-2021-11.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product:nth-child(2) {
  background-image: url(https://unhadecoradasimples.com.br/wp-content/uploads/2024/09/unhas-francesinhas-2024-novas-ideias.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product:nth-child(3) {
  background-image: url(https://icosmetologia.com.br/Arquivos/Noticia/noticia-114615.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hover para expandir */
.product:hover {
  flex: 2;
}

.product:hover p,
.product:hover small {
  text-align: center;
  animation: show 1.5s 1s forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsividade para dispositivos móveis */
@media only screen and (max-width: 768px) {
  .products {
    /* Alteramos para layout vertical */
    flex-direction: column;
    height: auto; /* Remove a altura fixa */
  }

  .product {
    /* Para garantir que cada item ocupe 100% da largura */
    width: 100%;
    /* Definindo uma altura menor ou automática, conforme sua preferência */
    height: 300px;
    /* Opcional: para manter o efeito de transição, pode-se remover ou ajustar o hover */
  }

  /* Se preferir manter o layout horizontal com scroll, utilize: */
  /*
  .products {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .product {
    flex: 0 0 80%;  // Exemplo: cada item ocupará 80% da largura, ajustável conforme necessário
    margin-right: 10px;
  }
  */
}

.profileP {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10%;
  left: 10%;
}

.profileP img {
  width: 100%;
  height: 100%;
}

.motherCard {
  height: 700px;
}

/* .bannerP {
  width: 100%;
  background-size: cover;
} */

.headerPerfil2 {
  height: 150px;
}

/* botão index.html  */


